# Paleo Twitter Hashtags Trending in the US Within the Last 30 Days?

In [1]:
# Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import pprint
import tweepy
import geocoder
import gmaps

# Import Twitter API Keys
from twitter_api import api_key, api_key_secret, access_token, access_token_secret

# Initialize Tweepy
auth = tweepy.OAuthHandler(api_key, api_key_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth)

In [2]:
# Base URL for Collecting 30-Day Endpoint (API Data)

from requests_oauthlib import OAuth1

# Get Data About Trending Diet Trends on Twitter: Paleo
url = "https://api.twitter.com/1.1/tweets/search/30day/DataAnalyticsProject.json"
auth = OAuth1(api_key, api_key_secret, access_token, access_token_secret)

# Paleo API Requests
url_params = {'query': 'place_country:us #paleo'}
r = requests.get(url, auth=auth, params=url_params)

In [3]:
# Set Up Lists to Hold Reponse Info
paleo_location_list = []
paleo_location_dict = {}

# Set Counter to 0
count = 0

# Loop Through Tweets & Perform a Request for Data on Each
for tweet in r.json()["results"]:
    
    try:
        # Get & Print Location of Tweets
        user_name = tweet["user"]["screen_name"]
        location = tweet["user"]["location"]
        tweet_location = tweet["place"]["full_name"]
        lat, lng = geocoder.arcgis(tweet_location).latlng
        print(f"The user, {user_name}, is located in {tweet_location}, {lat}, {lng}")

        # Build Dictionary
        paleo_location_dict = {
             "user": user_name,
             "tweet_location": tweet_location,
             "lat": lat,
             "lng": lng
        }

        # Add Dictionary to List
        paleo_location_list.append(paleo_location_dict)
        
        # Increment Counter by 1
        count += 1
        
    except:
         continue

print(count)

# Create DataFrame
paleo_location_df = pd.DataFrame(paleo_location_list)
paleo_location_df

The user, DancesWithRain, is located in Seattle, WA, 47.60357000000005, -122.32944999999995
The user, Kevin79Stokes, is located in West Virginia, USA, 38.64241493700007, -80.61361664099996
The user, MarieMyungOkLee, is located in Manhattan, NY, 40.714500000000044, -74.00600999999995
The user, StacyHopeSmall, is located in Carlsbad, CA, 33.16588000000007, -117.33821999999998
The user, im_a_carrie, is located in Oshkosh, WI, 44.024910000000034, -88.54442999999998
The user, FoodtoLive, is located in Brooklyn, NY, 40.692450000000065, -73.99035999999995
The user, NickyJay, is located in Tender Greens, 37.898360000000025, -122.06172999999995
The user, DancesWithRain, is located in Seattle, WA, 47.60357000000005, -122.32944999999995
The user, farmfresh_prep, is located in San Diego, CA, 32.71568000000008, -117.16170999999997
The user, megelle5, is located in Scottsdale, AZ, 33.49400000000003, -111.92068999999998
The user, innocent73, is located in La Habra, CA, 33.93187000000006, -117.94406999999995
The user, thrivemanhasset, is located in Manhasset, NY, 40.79822000000007, -73.69816999999995
The user, _COCACAO, is located in Hillsboro, OR, 45.52268000000004, -122.99043999999998
The user, CountryCarolyn_, is located in Hendersonville, TN, 36.304860000000076, -86.62020999999999
The user, MarieMyungOkLee, is located in Manhattan, NY, 40.714500000000044, -74.00600999999995
The user, eemialove, is located in Huntley, IL, 42.16868000000005, -88.42569999999995
The user, michaelbpotter, is located in Surprise, AZ, 33.62373000000008, -112.36783999999994
The user, VernoWest, is located in Corpus Christi, TX, 27.796410000000037, -97.40373999999997
The user, ohsnapletseat, is located in Johns Creek, GA, 34.02385000000004, -84.18921999999998
The user, DrBillSchindler, is located in Maryland, USA, 38.81819928400006, -76.15872999999993
The user, GoHeavyDose, is located in Washington, USA, 38.890370000000075, -77.03195999999997
The user, I_am_Freebeard, is located in Arizona, USA, 34.29301645100003, -111.66475398799997
The user, ChazWaterman, is located in Lincoln, IL, 40.15182000000004, -89.35755999999998
The user, DJLadySha, is located in West Hollywood, CA, 34.09069000000005, -118.37052999999997
The user, QusqoBistro, is located in Los Angeles, CA, 34.05349000000007, -118.24531999999999
The user, MarieMyungOkLee, is located in Queens, NY, 40.714000000000055, -73.82998999999995
The user, michaelbpotter, is located in Surprise, AZ, 33.62373000000008, -112.36783999999994
The user, cretanrunning, is located in Kansas, USA, 38.48472671300004, -98.38017062899996
The user, DancesWithRain, is located in Seattle, WA, 47.60357000000005, -122.32944999999995
The user, jasondluna, is located in Tennessee, USA, 35.84300269700003, -86.34305117699995
The user, innocent73, is located in La Habra, CA, 33.93187000000006, -117.94406999999995
The user, ClayParatore, is located in Fairport Harbor, OH, 41.75827000000004, -81.27882999999997
The user, TastyYummies, is located in Long Beach, CA, 33.76672000000008, -118.19239999999996
The user, LMRphotos, is located in Nashville, TN, 36.16784000000007, -86.77815999999996
The user, innocent73, is located in La Habra, CA, 33.93187000000006, -117.94406999999995
The user, spinchef, is located in Western Springs, IL, 41.81000000000006, -87.89807999999994
The user, MarieMyungOkLee, is located in Asheville, NC, 35.59844000000004, -82.55311999999998
The user, DancesWithRain, is located in Seattle, WA, 47.60357000000005, -122.32944999999995
The user, DancesWithRain, is located in Seattle, WA, 47.60357000000005, -122.32944999999995
The user, im_a_carrie, is located in Oshkosh, WI, 44.024910000000034, -88.54442999999998
The user, melissafreyauth, is located in Grand Blanc, MI, 42.927490000000034, -83.63015999999999
The user, thrivemanhasset, is located in Hicksville, NY, 40.76382000000007, -73.52742999999998
The user, michaelbpotter, is located in Surprise, AZ, 33.62373000000008, -112.36783999999994
The user, innocent73, is located in La Habra, CA, 33.93187000000006, -117.94406999999995
The user, GoHeavyDose, is located in Sunnyslope, WA, 47.47575000000006, -120.36858999999998
The user, sigmiami, is located in The Crossings, FL, 25.670700000000068, -80.40101999999996
The user, Lyfestyle_Cater, is located in Olympia Heights, FL, 25.72685000000007, -80.35503999999997
The user, CrispNoPo, is located in Portland, OR, 45.511790000000076, -122.67562999999996
The user, jrobbybenson, is located in Fort Collins, CO, 40.581470000000024, -105.07661999999999
The user, jimkellner, is located in California, USA, 36.37410569300005, -119.27022999999997
The user, kentmcc, is located in West Hollywood, CA, 34.09069000000005, -118.37052999999997
The user, MarieMyungOkLee, is located in Manhattan, NY, 40.714500000000044, -74.00600999999995
The user, djmactri, is located in Boston, MA, 42.35866000000004, -71.05673999999993
The user, ketowithchristy, is located in Indianapolis, IN, 39.76691000000005, -86.14995999999996
The user, kentmcc, is located in West Hollywood, CA, 34.09069000000005, -118.37052999999997
The user, LoveRenique, is located in Houston, TX, 29.76058000000006, -95.36967999999996
The user, innocent73, is located in La Habra, CA, 33.93187000000006, -117.94406999999995
The user, HealthCraveOKC, is located in Oklahoma, USA, 35.582683950000046, -97.50859936099994
The user, MendezFuel, is located in Westchester, FL, 25.75446000000005, -80.32604999999995
The user, DancesWithRain, is located in Seattle, WA, 47.60357000000005, -122.32944999999995
The user, MarieMyungOkLee, is located in Manhattan, NY, 40.714500000000044, -74.00600999999995
The user, ajnickdanmom, is located in Arizona, USA, 34.29301645100003, -111.66475398799997
The user, innocent73, is located in La Habra, CA, 33.93187000000006, -117.94406999999995
The user, ChiRedButter, is located in Chicago, IL, 41.884250000000065, -87.63244999999995
The user, iamalifuller, is located in Fullerton, CA, 33.870330000000024, -117.92895999999996
The user, MarieMyungOkLee, is located in Manhattan, NY, 40.714500000000044, -74.00600999999995
The user, DrDavilaDC, is located in La Grange Park, IL, 41.82239000000004, -87.87375999999995
The user, julie__santiago, is located in Upland, CA, 34.09940000000006, -117.65100999999999
The user, natGallmeier, is located in Los Angeles, CA, 34.05349000000007, -118.24531999999999
The user, MarieMyungOkLee, is located in Manhattan, NY, 40.714500000000044, -74.00600999999995
The user, WhollyCowATX, is located in Austin, TX, 30.26759000000004, -97.74298999999996
The user, HealthyXpress, is located in Miami, FL, 25.77481000000006, -80.19772999999998
72

          lat         lng       tweet_location             user
0   47.603570 -122.329450          Seattle, WA   DancesWithRain
1   38.642415  -80.613617   West Virginia, USA    Kevin79Stokes
2   40.714500  -74.006010        Manhattan, NY  MarieMyungOkLee
3   33.165880 -117.338220         Carlsbad, CA   StacyHopeSmall
4   44.024910  -88.544430          Oshkosh, WI      im_a_carrie
5   40.692450  -73.990360         Brooklyn, NY       FoodtoLive
6   37.898360 -122.061730        Tender Greens         NickyJay
7   47.603570 -122.329450          Seattle, WA   DancesWithRain
8   32.715680 -117.161710        San Diego, CA   farmfresh_prep
9   33.494000 -111.920690       Scottsdale, AZ         megelle5
10  33.931870 -117.944070         La Habra, CA       innocent73
11  40.798220  -73.698170        Manhasset, NY  thrivemanhasset
12  45.522680 -122.990440        Hillsboro, OR         _COCACAO
13  36.304860  -86.620210   Hendersonville, TN  CountryCarolyn_
14  40.714500  -74.006010        Manhattan, NY  MarieMyungOkLee
15  42.168680  -88.425700          Huntley, IL        eemialove
16  33.623730 -112.367840         Surprise, AZ   michaelbpotter
17  27.796410  -97.403740   Corpus Christi, TX        VernoWest
18  34.023850  -84.189220      Johns Creek, GA    ohsnapletseat
19  38.818199  -76.158730        Maryland, USA  DrBillSchindler
20  38.890370  -77.031960      Washington, USA      GoHeavyDose
21  34.293016 -111.664754         Arizona, USA   I_am_Freebeard
22  40.151820  -89.357560          Lincoln, IL     ChazWaterman
23  34.090690 -118.370530   West Hollywood, CA        DJLadySha
24  34.053490 -118.245320      Los Angeles, CA      QusqoBistro
25  40.714000  -73.829990           Queens, NY  MarieMyungOkLee
26  33.623730 -112.367840         Surprise, AZ   michaelbpotter
27  38.484727  -98.380171          Kansas, USA    cretanrunning
28  47.603570 -122.329450          Seattle, WA   DancesWithRain
29  35.843003  -86.343051       Tennessee, USA       jasondluna
..        ...         ...                  ...              ...
42  33.623730 -112.367840         Surprise, AZ   michaelbpotter
43  33.931870 -117.944070         La Habra, CA       innocent73
44  47.475750 -120.368590       Sunnyslope, WA      GoHeavyDose
45  25.670700  -80.401020    The Crossings, FL         sigmiami
46  25.726850  -80.355040  Olympia Heights, FL  Lyfestyle_Cater
47  45.511790 -122.675630         Portland, OR        CrispNoPo
48  40.581470 -105.076620     Fort Collins, CO     jrobbybenson
49  36.374106 -119.270230      California, USA       jimkellner
50  34.090690 -118.370530   West Hollywood, CA          kentmcc
51  40.714500  -74.006010        Manhattan, NY  MarieMyungOkLee
52  42.358660  -71.056740           Boston, MA         djmactri
53  39.766910  -86.149960     Indianapolis, IN  ketowithchristy
54  34.090690 -118.370530   West Hollywood, CA          kentmcc
55  29.760580  -95.369680          Houston, TX      LoveRenique
56  33.931870 -117.944070         La Habra, CA       innocent73
57  35.582684  -97.508599        Oklahoma, USA   HealthCraveOKC
58  25.754460  -80.326050      Westchester, FL       MendezFuel
59  47.603570 -122.329450          Seattle, WA   DancesWithRain
60  40.714500  -74.006010        Manhattan, NY  MarieMyungOkLee
61  34.293016 -111.664754         Arizona, USA     ajnickdanmom
62  33.931870 -117.944070         La Habra, CA       innocent73
63  41.884250  -87.632450          Chicago, IL     ChiRedButter
64  33.870330 -117.928960        Fullerton, CA     iamalifuller
65  40.714500  -74.006010        Manhattan, NY  MarieMyungOkLee
66  41.822390  -87.873760   La Grange Park, IL       DrDavilaDC
67  34.099400 -117.651010           Upland, CA  julie__santiago
68  34.053490 -118.245320      Los Angeles, CA     natGallmeier
69  40.714500  -74.006010        Manhattan, NY  MarieMyungOkLee
70  30.267590  -97.742990           Austin, TX     WhollyCowATX
71  25.774810  -80.197730            Miami, FL    HealthyXpress

[72 rows x 4 columns]

In [4]:
# Drop NaN's
paleo_data_split_no_missing = paleo_location_df.dropna()
paleo_data_split_no_missing.head()

         lat         lng      tweet_location             user
0  47.603570 -122.329450         Seattle, WA   DancesWithRain
1  38.642415  -80.613617  West Virginia, USA    Kevin79Stokes
2  40.714500  -74.006010       Manhattan, NY  MarieMyungOkLee
3  33.165880 -117.338220        Carlsbad, CA   StacyHopeSmall
4  44.024910  -88.544430         Oshkosh, WI      im_a_carrie

In [5]:
# Create Open Columns
paleo_data_split_no_missing["state"] = ""
paleo_data_split_no_missing["city"] = ""
paleo_data_split_no_missing

# Split City & State
paleo_data_split_no_missing[["city", "state"]] = paleo_data_split_no_missing["tweet_location"].str.split(",", expand=True)
paleo_data_split_no_missing.head()

,lat,lng,tweet_location,user,state,city
0,47.603570,-122.329450,"Seattle, WA",DancesWithRain,WA,Seattle
1,38.642415,-80.613617,"West Virginia, USA",Kevin79Stokes,USA,West Virginia
2,40.714500,-74.006010,"Manhattan, NY",MarieMyungOkLee,NY,Manhattan
3,33.165880,-117.338220,"Carlsbad, CA",StacyHopeSmall,CA,Carlsbad
4,44.024910,-88.544430,"Oshkosh, WI",im_a_carrie,WI,Oshkosh

In [6]:
# Groupby "state" & Get Mean (Average) Location from Each state
locations = paleo_data_split_no_missing.groupby("state").mean()
locations.head()

             lat         lng
state
 AZ    33.591298 -112.256052
 CA    33.849268 -117.971184
 CO    40.581470 -105.076620
 FL    25.731705  -80.319960
 GA    34.023850  -84.189220

In [7]:
# Value Count Each "state" (Total Tweets per State) & Sort Index by Alphabetical Order to Align with Locations
location_counts = paleo_data_split_no_missing["state"].value_counts()
reorganized_location_count = location_counts.sort_index()
reorganized_location_count

 AZ      4
 CA     16
 CO      1
 FL      4
 GA      1
 IL      5
 IN      1
 MA      1
 MI      1
 NC      1
 NY     10
 OH      1
 OR      2
 TN      2
 TX      3
 USA     9
 WA      7
 WI      2
Name: state, dtype: int64

In [8]:
# Plot Heatmap
fig = gmaps.figure()

# Create Heat Layer
heat_layer = gmaps.heatmap_layer(locations, weights=reorganized_location_count, dissipating=False, max_intensity=10, point_radius=1)

# Add Layer 
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))