# Keto Twitter Hashtags Trending in the US Within the Last 30 Days?

In [1]:
# Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import pprint
import tweepy
import geocoder
import gmaps

# Import Twitter API Keys
from twitter_api import api_key, api_key_secret, access_token, access_token_secret

# Initialize Tweepy
auth = tweepy.OAuthHandler(api_key, api_key_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth)

In [2]:
# Base URL for Collecting 30-Day Endpoint (API Data)

from requests_oauthlib import OAuth1

# Get Data About Trending Diet Trends on Twitter: Keto
url = "https://api.twitter.com/1.1/tweets/search/30day/DataAnalyticsProject.json"
auth = OAuth1(api_key, api_key_secret, access_token, access_token_secret)

# Keto API Requests
url_params = {'query': 'place_country:us #keto'}
r = requests.get(url, auth=auth, params=url_params)

In [3]:
# Set Up Lists to Hold Reponse Info
keto_location_list = []
keto_location_dict = {}

# Set Counter to 0
count = 0

# Loop Through Tweets & Perform a Request for Data on Each
for tweet in r.json()["results"]:
    
    try:
        # Get & Print Location of Tweets
        user_name = tweet["user"]["screen_name"]
        location = tweet["user"]["location"]
        tweet_location = tweet["place"]["full_name"]
        lat, lng = geocoder.arcgis(tweet_location).latlng
        print(f"The user, {user_name}, is located in {tweet_location}, {lat}, {lng}")

        # Build Dictionary
        keto_location_dict = {
             "user": user_name,
             "tweet_location": tweet_location,
             "lat": lat,
             "lng": lng
        }

        # Add Dictionary to List
        keto_location_list.append(keto_location_dict)
        
        # Increment Counter by 1
        count += 1
        
    except:
         continue

print(count)

# Create DataFrame
keto_location_df = pd.DataFrame(keto_location_list)
keto_location_df

The user, EgenWarner, is located in Union City, GA, 33.57905000000005, -84.55273999999997
The user, pr_chris7, is located in Enterprise, NV, 36.02422000000007, -115.24008999999995
The user, BackyardLee, is located in Washington, USA, 38.890370000000075, -77.03195999999997
The user, concertchicklsu, is located in Dallas, TX, 32.77815000000004, -96.79539999999997
The user, QuestionswithRD, is located in The Lakes, Las Vegas, 36.10238000000004, -114.92196999999999
The user, NuttyAboutHlth, is located in San Francisco, CA, 37.777120000000025, -122.41963999999996
The user, keto_becker, is located in Arizona, USA, 34.29301645100003, -111.66475398799997
The user, roxannawalsh76, is located in Fairburn, GA, 33.566590000000076, -84.58669999999995
The user, chelseamhjones, is located in Scottsboro, AL, 34.685200000000066, -86.09460999999999
The user, chelseamhjones, is located in Alabama, USA, 32.766542541000035, -86.84028685899995
The user, IPurefit_Keto, is located in United States, 39.39870315600007, -99.41461918999994
The user, ChrisPalmerMD, is located in Belmont, MA, 42.39706000000007, -71.17833999999993
The user, mep120183, is located in Schaumburg, IL, 42.026170000000036, -88.06541999999996
The user, MarieMyungOkLee, is located in Manhattan, NY, 40.714500000000044, -74.00600999999995
The user, dj_jen_z, is located in Town and Country, MO, 38.63187000000005, -90.45118999999994
The user, DrDavilaDC, is located in La Grange Park, IL, 41.82239000000004, -87.87375999999995
The user, SHAYTOSWEETTV, is located in Georgia, USA, 32.648324554000055, -83.44453440099994
The user, HastAbajoCfo305, is located in North Miami, FL, 25.890420000000063, -80.18270999999999
The user, WarriorMart, is located in Anadarko, OK, 35.07317000000006, -98.24367999999998
The user, lowcarbtraveler, is located in District 3 Hotel, An Ascend Hotel Collection Member, 35.1444499483527, -90.05011008050079
The user, smirkhappens, is located in Beaumont, TX, 30.086150000000032, -94.10134999999997
The user, shamrock712, is located in New York, USA, 40.71455000000003, -74.00713999999994
The user, jmgerraughty, is located in San Bernardino, CA, 34.10524000000004, -117.29411999999996
The user, isaacsakko, is located in Cerro Gordo, Puerto Rico, 18.48078000000004, -66.34433999999999
The user, DrMamaKai, is located in Starbucks, 41.15043007660574, -81.86339007718254
The user, pumabianco, is located in Manhattan, NY, 40.714500000000044, -74.00600999999995
The user, LoveBitesCarnie, is located in Sherwood, OR, 45.35650000000004, -122.84048999999999
The user, Myvegasmommy, is located in Henderson, NV, 36.031780000000026, -114.98206999999996
The user, mslalovelee, is located in Manhattan, NY, 40.714500000000044, -74.00600999999995
The user, TWheatery, is located in The Whole Wheatery, 34.68748000000005, -118.14799
The user, lowcarbtraveler, is located in District 3 Hotel, An Ascend Hotel Collection Member, 35.1444499483527, -90.05011008050079
The user, natGallmeier, is located in Los Angeles, CA, 34.05349000000007, -118.24531999999999
The user, Lifestew_keto, is located in Dallas, TX, 32.77815000000004, -96.79539999999997
The user, mandilyn79, is located in Michigan, USA, 44.12519983400006, -84.19669749999997
The user, JohnCollazo2, is located in Orlando, FL, 28.538230000000055, -81.37738999999993
The user, NuttyAboutHlth, is located in Castro Valley, CA, 37.69458000000003, -122.08562999999998
The user, TomDowdPIN, is located in Pennsylvania, USA, 40.89651165400005, -77.83875077599998
The user, bikinibaconchee, is located in Fort Worth, TX, 32.750950000000046, -97.33085999999997
The user, WeAteThatBlog, is located in Brooklyn, NY, 40.692450000000065, -73.99035999999995
The user, cookdrinkfeast, is located in Baltimore, MD, 39.290580000000034, -76.60925999999995
The user, 15JudicialCASA, is located in Kansas City, MO, 39.103440000000035, -94.58310999999998
The user, EarthAngel2b, is located in Farmington Hills, MI, 42.48469000000006, -83.35929999999996
The user, miguels972, is located in Arlington, TX, 32.735600000000034, -97.10771999999997
The user, vickisellsaz, is located in Sahuarita, AZ, 31.957750000000033, -110.96636999999998
The user, lowcarbtraveler, is located in McMinnville, TN, 35.68094000000008, -85.77448999999996
The user, ThisizDiva, is located in Indianapolis, IN, 39.76691000000005, -86.14995999999996
The user, DrDebraTaylor, is located in Indianapolis, IN, 39.76691000000005, -86.14995999999996
The user, DawnEMcKenzie, is located in Temecula, CA, 33.50248000000005, -117.16692999999998
The user, NuttyAboutHlth, is located in San Francisco, CA, 37.777120000000025, -122.41963999999996
The user, bluetsunamilin, is located in Redmond, WA, 47.67858000000007, -122.13157999999999
The user, kydodger, is located in Richmond, KY, 37.74881000000005, -84.29756999999995
The user, kydodger, is located in Richmond, KY, 37.74881000000005, -84.29756999999995
The user, TomDowdPIN, is located in Pennsylvania, USA, 40.89651165400005, -77.83875077599998
The user, boyevil, is located in Winder, GA, 33.991250000000036, -83.72243999999995
The user, chelseamhjones, is located in Scottsboro, AL, 34.685200000000066, -86.09460999999999
The user, mmccormickcny, is located in Syracuse, NY, 43.05042000000003, -76.14737999999994
The user, MarieMyungOkLee, is located in Manhattan, NY, 40.714500000000044, -74.00600999999995
The user, JOSHCABAN, is located in Malverne, NY, 40.67598000000004, -73.66708999999997
The user, WhollyCowATX, is located in Austin, TX, 30.26759000000004, -97.74298999999996
The user, chelseamhjones, is located in Alabama, USA, 32.766542541000035, -86.84028685899995
The user, texasag, is located in Texas, USA, 31.46273304600004, -99.33305008999997
The user, tugar32, is located in Calexico, CA, 32.67864000000003, -115.49866999999995
The user, kateloice, is located in Austin, TX, 30.26759000000004, -97.74298999999996
The user, mweprin, is located in Los Altos, CA, 37.383080000000064, -122.11422999999996
The user, DawnEMcKenzie, is located in Wildomar, CA, 33.612360000000024, -117.26236999999998
The user, valkyrskuld, is located in Monument, CO, 39.091530000000034, -104.87156999999996
The user, 1stmama, is located in Downtown Jacksonville, FL, 30.328410000000076, -81.65690999999998
The user, GoldensCastIron, is located in Columbus, GA, 32.46288000000004, -84.98756999999995
The user, KristinTho, is located in Indianapolis, IN, 39.76691000000005, -86.14995999999996
The user, Louiegeezy, is located in Burbank, CA, 34.18193000000008, -118.30764999999997
The user, meat0sis, is located in Manhattan, NY, 40.714500000000044, -74.00600999999995
The user, klberney, is located in Manhattan, NY, 40.714500000000044, -74.00600999999995
The user, tallguytony, is located in Nashville, TN, 36.16784000000007, -86.77815999999996
The user, caryconrady, is located in San Diego, CA, 32.71568000000008, -117.16170999999997
74

,lat,lng,tweet_location,user
0,33.579050,-84.552740,"Union City, GA",EgenWarner
1,36.024220,-115.240090,"Enterprise, NV",pr_chris7
2,38.890370,-77.031960,"Washington, USA",BackyardLee
3,32.778150,-96.795400,"Dallas, TX",concertchicklsu
4,36.102380,-114.921970,"The Lakes, Las Vegas",QuestionswithRD
5,37.777120,-122.419640,"San Francisco, CA",NuttyAboutHlth
6,34.293016,-111.664754,"Arizona, USA",keto_becker
7,33.566590,-84.586700,"Fairburn, GA",roxannawalsh76
8,34.685200,-86.094610,"Scottsboro, AL",chelseamhjones
9,32.766543,-86.840287,"Alabama, USA",chelseamhjones
10,39.398703,-99.414619,United States,IPurefit_Keto
11,42.397060,-71.178340,"Belmont, MA",ChrisPalmerMD
12,42.026170,-88.065420,"Schaumburg, IL",mep120183
13,40.714500,-74.006010,"Manhattan, NY",MarieMyungOkLee
14,38.631870,-90.451190,"Town and Country, MO",dj_jen_z
15,41.822390,-87.873760,"La Grange Park, IL",DrDavilaDC
16,32.648325,-83.444534,"Georgia, USA",SHAYTOSWEETTV
17,25.890420,-80.182710,"North Miami, FL",HastAbajoCfo305
18,35.073170,-98.243680,"Anadarko, OK",WarriorMart
19,35.144450,-90.050110,"District 3 Hotel, An Ascend Hotel Collection M...",lowcarbtraveler
20,30.086150,-94.101350,"Beaumont, TX",smirkhappens
21,40.714550,-74.007140,"New York, USA",shamrock712
22,34.105240,-117.294120,"San Bernardino, CA",jmgerraughty
23,18.480780,-66.344340,"Cerro Gordo, Puerto Rico",isaacsakko
24,41.150430,-81.863390,Starbucks,DrMamaKai
25,40.714500,-74.006010,"Manhattan, NY",pumabianco
26,45.356500,-122.840490,"Sherwood, OR",LoveBitesCarnie
27,36.031780,-114.982070,"Henderson, NV",Myvegasmommy
28,40.714500,-74.006010,"Manhattan, NY",mslalovelee
29,34.687480,-118.147990,The Whole Wheatery,TWheatery
...,...,...,...,...
44,35.680940,-85.774490,"McMinnville, TN",lowcarbtraveler
45,39.766910,-86.149960,"Indianapolis, IN",ThisizDiva
46,39.766910,-86.149960,"Indianapolis, IN",DrDebraTaylor
47,33.502480,-117.166930,"Temecula, CA",DawnEMcKenzie
48,37.777120,-122.419640,"San Francisco, CA",NuttyAboutHlth
49,47.678580,-122.131580,"Redmond, WA",bluetsunamilin
50,37.748810,-84.297570,"Richmond, KY",kydodger
51,37.748810,-84.297570,"Richmond, KY",kydodger
52,40.896512,-77.838751,"Pennsylvania, USA",TomDowdPIN
53,33.991250,-83.722440,"Winder, GA",boyevil
54,34.685200,-86.094610,"Scottsboro, AL",chelseamhjones
55,43.050420,-76.147380,"Syracuse, NY",mmccormickcny
56,40.714500,-74.006010,"Manhattan, NY",MarieMyungOkLee
57,40.675980,-73.667090,"Malverne, NY",JOSHCABAN
58,30.267590,-97.742990,"Austin, TX",WhollyCowATX
59,32.766543,-86.840287,"Alabama, USA",chelseamhjones
60,31.462733,-99.333050,"Texas, USA",texasag
61,32.678640,-115.498670,"Calexico, CA",tugar32
62,30.267590,-97.742990,"Austin, TX",kateloice
63,37.383080,-122.114230,"Los Altos, CA",mweprin
64,33.612360,-117.262370,"Wildomar, CA",DawnEMcKenzie
65,39.091530,-104.871570,"Monument, CO",valkyrskuld
66,30.328410,-81.656910,"Downtown Jacksonville, FL",1stmama
67,32.462880,-84.987570,"Columbus, GA",GoldensCastIron
68,39.766910,-86.149960,"Indianapolis, IN",KristinTho
69,34.181930,-118.307650,"Burbank, CA",Louiegeezy
70,40.714500,-74.006010,"Manhattan, NY",meat0sis
71,40.714500,-74.006010,"Manhattan, NY",klberney
72,36.167840,-86.778160,"Nashville, TN",tallguytony
73,32.715680,-117.161710,"San Diego, CA",caryconrady

In [4]:
# Drop NaN's
keto_data_split_no_missing = keto_location_df.dropna()
keto_data_split_no_missing.head()

        lat        lng        tweet_location             user
0  33.57905  -84.55274        Union City, GA       EgenWarner
1  36.02422 -115.24009        Enterprise, NV        pr_chris7
2  38.89037  -77.03196       Washington, USA      BackyardLee
3  32.77815  -96.79540            Dallas, TX  concertchicklsu
4  36.10238 -114.92197  The Lakes, Las Vegas  QuestionswithRD

In [5]:
# Create Open Columns
keto_data_split_no_missing["state"] = ""
keto_data_split_no_missing["city"] = ""
keto_data_split_no_missing

# Split City & State
keto_data_split_no_missing[["city", "state"]] = keto_data_split_no_missing["tweet_location"].str.split(",", expand=True)
keto_data_split_no_missing.head()

,lat,lng,tweet_location,user,state,city
0,33.57905,-84.55274,"Union City, GA",EgenWarner,GA,Union City
1,36.02422,-115.24009,"Enterprise, NV",pr_chris7,NV,Enterprise
2,38.89037,-77.03196,"Washington, USA",BackyardLee,USA,Washington
3,32.77815,-96.79540,"Dallas, TX",concertchicklsu,TX,Dallas
4,36.10238,-114.92197,"The Lakes, Las Vegas",QuestionswithRD,Las Vegas,The Lakes

In [6]:
# Groupby "state" & Get Mean (Average) Location from Each state
locations = keto_data_split_no_missing.groupby("state").mean()
locations.head()

                                          lat         lng
state
 AL                                 34.685200  -86.094610
 AZ                                 31.957750 -110.966370
 An Ascend Hotel Collection Member  35.144450  -90.050110
 CA                                 35.043793 -119.088719
 CO                                 39.091530 -104.871570

In [7]:
# Value Count Each "state" (Total Tweets per State) & Sort Index by Alphabetical Order to Align with Locations
location_counts = keto_data_split_no_missing["state"].value_counts()
reorganized_location_count = location_counts.sort_index()
reorganized_location_count

 AL                                    2
 AZ                                    1
 An Ascend Hotel Collection Member     2
 CA                                   11
 CO                                    1
 FL                                    3
 GA                                    4
 IL                                    2
 IN                                    3
 KY                                    2
 Las Vegas                             1
 MA                                    1
 MD                                    1
 MI                                    1
 MO                                    2
 NV                                    2
 NY                                    9
 OK                                    1
 OR                                    1
 Puerto Rico                           1
 TN                                    2
 TX                                    7
 USA                                  10
 WA                                    1
Name: state, dtype: int64

In [8]:
# Plot Heatmap
fig = gmaps.figure()

# Create Heat Layer
heat_layer = gmaps.heatmap_layer(locations, weights=reorganized_location_count, dissipating=False, max_intensity=10, point_radius=1)

# Add Layer 
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))